[[$html-header]]

<body>
<div id="main-wrapper">

  <div class="">
    <div class="header-nav">
      [[$header]]

    </div> <!-- edn header-navm -->
  </div>
[[$pageheaderSection2]]  
<div class="pt60">
    <div class="container">
        <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="pageIntro">
                <p class="lead text-center"><strong>[[*introtext]]</strong></p>
            </div>
          </div>
        </div>

        
    </div>
</div>
<div class="container">
    <div class="row">
    [[*content]]    
    </div>
</div>

[[$twitterSection]]
[[$footer]]
</div> <!-- end #main-wrapper -->

[[$html-footer]]