<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Header</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700%7CDroid+Serif:300,400,700,400italic%7CMontserrat:400,700%7CNothing+You+Could+Do%7CLibre+Baskerville:400,400italic">

  <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div id="main-wrapper">

  <div class="">

    <div class="header-nav">
      <div class="uou-block-2f border-right">
        <div class="container">

          <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>
          <nav class="nav">
            <ul class="sf-menu">
              <li><a href="#">Home</a>
                <ul class="demo-menu">
                  <li><a href="demo-creative-agency/index.html">Home 1 - Creative Agency</a></li>
                  <li><a href="demo-corporate/index.html">Home 2 - Corporate</a></li>
                  <li><a href="demo-copywriter">Home 2 - Copywriter</a></li>

                </ul>
              </li>
              <li class="active">
                <a href="#">Components</a>
                <ul>
                  <li><a href="toolbar.html">Toolbars</a></li>
                  <li class="active"><a href="header.html">Headers</a></li>
                  <li><a href="footer.html">Footers</a></li>
                  <li><a href="breadcrumbs.html">Breadcrumbs</a></li>

                </ul>
              </li>
              <li><a href="slider.html">Sliders</a></li>
              <li><a href="#">Blog</a>
                <ul class="demo-menu">
                  <li><a href="blog-list.html">Blog list with sidebar</a></li>
                  <li><a href="blog-grid.html">Blog Grid with sidebar</a></li>
                  <li><a href="blog-list-no-sidebar.html">Blog list no sidebar</a></li>
                  <li><a href="blog-grid-no-sidebar.html">Blog Grid no sidebar</a></li>
                  <li><a href="blog-post.html">Blog Post</a></li>


                </ul>
              </li>
              <li><a href="portfolio-full-width.html">Portfolio</a></li>
              <li><a href="gui-kit.html">Gui Kit</a></li>
            </ul>
          </nav>


        </div>
      </div> <!-- end .uou-block-2f -->

    </div> <!-- edn header-navm -->
  </div>



  <!-- =============================================
  start .uou-block-2
=================================================== -->



  <section class="demo-section">
    <h6 class="demo-section-title container">Header 1</h6>

    <div class="box-shadow-for-ui">
      <div class="uou-block-2b">
        <div class="container">
          <a href="#" class="logo"><img src="img/logo.png" alt=""></a>
          <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>

          <nav class="nav">
            <ul class="sf-menu">
              <li class="active"><a href="#">Home</a></li>
              <li>
                <a href="#">Store</a>
                <ul>
                  <li><a href="#">WordPress</a></li>
                  <li><a href="#">HTML</a></li>
                  <li>
                    <a href="#">eCommerce</a>
                    <ul>
                      <li><a href="#">Magento</a></li>
                      <li><a href="#">OpenCart</a></li>
                      <li><a href="#">Shopify</a></li>
                      <li><a href="#">PrestaShop</a></li>
                      <li><a href="#">WooCommerce</a></li>
                      <li><a href="#">Zen Cart</a></li>
                      <li><a href="#">Jigoshop</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Ghost</a></li>
                  <li><a href="#">Tumblr</a></li>
                </ul>
              </li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div> <!-- end .uou-block-2b -->
    </div>



    <h6 class="demo-section-title container">Header 2</h6>


    <div class="box-shadow-for-ui">
      <div class="uou-block-2b">
        <div class="container">
          <a href="#" class="logo"><img src="img/logo.png" alt=""></a>
          <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>

          <nav class="nav">
            <ul class="sf-menu">
              <li class="active"><a href="#">Home</a></li>
              <li>
                <a href="#">Store</a>
                <ul>
                  <li><a href="#">WordPress</a></li>
                  <li><a href="#">HTML</a></li>
                  <li>
                    <a href="#">eCommerce</a>
                    <ul>
                      <li><a href="#">Magento</a></li>
                      <li><a href="#">OpenCart</a></li>
                      <li><a href="#">Shopify</a></li>
                      <li><a href="#">PrestaShop</a></li>
                      <li><a href="#">WooCommerce</a></li>
                      <li><a href="#">Zen Cart</a></li>
                      <li><a href="#">Jigoshop</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Ghost</a></li>
                  <li><a href="#">Tumblr</a></li>
                </ul>
              </li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#" class="btn btn-primary">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div> <!-- end .uou-block-2b -->
    </div>



    <h6 class="demo-section-title container">Header 3</h6>



    <div class="box-shadow-for-ui">

      <div class="uou-block-2b border-bottom">
        <div class="container">
          <a href="#" class="logo"><img src="img/logo.png" alt=""></a>
          <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>

          <nav class="nav">
            <ul class="sf-menu">
              <li class="active"><a href="#">Home</a></li>
              <li>
                <a href="#">Store</a>
                <ul>
                  <li><a href="#">WordPress</a></li>
                  <li><a href="#">HTML</a></li>
                  <li>
                    <a href="#">eCommerce</a>
                    <ul>
                      <li><a href="#">Magento</a></li>
                      <li><a href="#">OpenCart</a></li>
                      <li><a href="#">Shopify</a></li>
                      <li><a href="#">PrestaShop</a></li>
                      <li><a href="#">WooCommerce</a></li>
                      <li><a href="#">Zen Cart</a></li>
                      <li><a href="#">Jigoshop</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Ghost</a></li>
                  <li><a href="#">Tumblr</a></li>
                </ul>
              </li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div> <!-- end .uou-block-2b -->

    </div>



    <h6 class="demo-section-title container">Header 4</h6>


    <div class="box-shadow-for-ui">

      <div class="uou-block-2b icons">
        <div class="container">
          <a href="#" class="logo"><img src="img/logo.png" alt=""></a>
          <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>

          <nav class="nav">
            <ul class="sf-menu">
              <li class="active"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li>
                <a href="#"><i class="fa fa-shopping-cart"></i> Store</a>
                <ul>
                  <li><a href="#">WordPress</a></li>
                  <li><a href="#">HTML</a></li>
                  <li>
                    <a href="#">eCommerce</a>
                    <ul>
                      <li><a href="#">Magento</a></li>
                      <li><a href="#">OpenCart</a></li>
                      <li><a href="#">Shopify</a></li>
                      <li><a href="#">PrestaShop</a></li>
                      <li><a href="#">WooCommerce</a></li>
                      <li><a href="#">Zen Cart</a></li>
                      <li><a href="#">Jigoshop</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Ghost</a></li>
                  <li><a href="#">Tumblr</a></li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-edit"></i> Blog</a></li>
              <li><a href="#"><i class="fa fa-user"></i> About</a></li>
              <li><a href="#"><i class="fa fa-envelope"></i> Contact</a></li>
            </ul>
          </nav>
        </div>
      </div> <!-- end .uou-block-2b -->

    </div>


  </section>



  <section class="demo-section">
    <h6 class="demo-section-title container">Header 5</h6>

    <div class="box-shadow-for-ui">

      <div class="uou-block-2c">
        <div class="container">
          <a href="#" class="logo"><img src="img/logo.png" alt=""></a>
          <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>

          <nav class="nav">
            <ul class="sf-menu">
              <li class="active"><a href="#">Home <span>Stat Here</span></a></li>
              <li>
                <a href="#">Store <span>Our Products</span></a>
                <ul>
                  <li><a href="#">WordPress</a></li>
                  <li><a href="#">HTML</a></li>
                  <li>
                    <a href="#">eCommerce</a>
                    <ul>
                      <li><a href="#">Magento</a></li>
                      <li><a href="#">OpenCart</a></li>
                      <li><a href="#">Shopify</a></li>
                      <li><a href="#">PrestaShop</a></li>
                      <li><a href="#">WooCommerce</a></li>
                      <li><a href="#">Zen Cart</a></li>
                      <li><a href="#">Jigoshop</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Ghost</a></li>
                  <li><a href="#">Tumblr</a></li>
                </ul>
              </li>
              <li><a href="#">Blog <span>Latest News</span></a></li>
              <li><a href="#">About <span>Our Company</span></a></li>
              <li><a href="#">Contact <span>We Are Here to Help</span></a></li>
            </ul>
          </nav>
        </div>
      </div> <!-- end .uou-block-2c -->



    </div>



    <h6 class="demo-section-title container">Header 6</h6>


    <div class="box-shadow-for-ui">

      <div class="uou-block-2c icons">
        <div class="container">
          <a href="#" class="logo"><img src="img/logo.png" alt=""></a>
          <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>

          <nav class="nav">
            <ul class="sf-menu">
              <li class="active"><a href="#"><i class="fa fa-home"></i> Home <span>Stat Here</span></a></li>
              <li>
                <a href="#"><i class="fa fa-shopping-cart"></i> Store <span>Our Products</span></a>
                <ul>
                  <li><a href="#">WordPress</a></li>
                  <li><a href="#">HTML</a></li>
                  <li>
                    <a href="#">eCommerce</a>
                    <ul>
                      <li><a href="#">Magento</a></li>
                      <li><a href="#">OpenCart</a></li>
                      <li><a href="#">Shopify</a></li>
                      <li><a href="#">PrestaShop</a></li>
                      <li><a href="#">WooCommerce</a></li>
                      <li><a href="#">Zen Cart</a></li>
                      <li><a href="#">Jigoshop</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Ghost</a></li>
                  <li><a href="#">Tumblr</a></li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-edit"></i> Blog <span>Latest News</span></a></li>
              <li><a href="#"><i class="fa fa-user"></i> About <span>Our Company</span></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i> Contact <span>We Are Here to Help</span></a></li>
            </ul>
          </nav>
        </div>
      </div> <!-- end .uou-block-2c -->

    </div>


  </section>






  <section class="demo-section">
    <h6 class="demo-section-title container">Header 7</h6>


    <div class="box-shadow-for-ui">
      <div class="uou-block-2e">
        <div class="container">
          <nav class="nav">
            <ul class="sf-menu">
              <li class="active"><a href="#">Home</a></li>
              <li>
                <a href="#">Store</a>
                <ul>
                  <li><a href="#">WordPress</a></li>
                  <li><a href="#">HTML</a></li>
                  <li>
                    <a href="#">eCommerce</a>
                    <ul>
                      <li><a href="#">Magento</a></li>
                      <li><a href="#">OpenCart</a></li>
                      <li><a href="#">Shopify</a></li>
                      <li><a href="#">PrestaShop</a></li>
                      <li><a href="#">WooCommerce</a></li>
                      <li><a href="#">Zen Cart</a></li>
                      <li><a href="#">Jigoshop</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Ghost</a></li>
                  <li><a href="#">Tumblr</a></li>
                </ul>
              </li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div> <!-- end .uou-block-2e -->
    </div>



    <h6 class="demo-section-title container">Header 8</h6>


    <div class="box-shadow-for-ui">
      <div class="uou-block-2e">
        <div class="container">
          <nav class="nav">
            <ul class="sf-menu">
              <li class="active"><a href="#">Home</a></li>
              <li>
                <a href="#">Store</a>
                <ul>
                  <li><a href="#">WordPress</a></li>
                  <li><a href="#">HTML</a></li>
                  <li>
                    <a href="#">eCommerce</a>
                    <ul>
                      <li><a href="#">Magento</a></li>
                      <li><a href="#">OpenCart</a></li>
                      <li><a href="#">Shopify</a></li>
                      <li><a href="#">PrestaShop</a></li>
                      <li><a href="#">WooCommerce</a></li>
                      <li><a href="#">Zen Cart</a></li>
                      <li><a href="#">Jigoshop</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Ghost</a></li>
                  <li><a href="#">Tumblr</a></li>
                </ul>
              </li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>

          <div class="contact">
            <span>Call Us:</span>
            <a href="tel:(02)1234567890">(02) 123-456-7890</a>
          </div>
        </div>
      </div> <!-- end .uou-block-2e -->
    </div>



    <h6 class="demo-section-title container">Header 9</h6>

    <div class="box-shadow-for-ui">

      <div class="uou-block-2e">
        <div class="container">
          <nav class="nav">
            <ul class="sf-menu">
              <li class="active"><a href="#">Home</a></li>
              <li>
                <a href="#">Store</a>
                <ul>
                  <li><a href="#">WordPress</a></li>
                  <li><a href="#">HTML</a></li>
                  <li>
                    <a href="#">eCommerce</a>
                    <ul>
                      <li><a href="#">Magento</a></li>
                      <li><a href="#">OpenCart</a></li>
                      <li><a href="#">Shopify</a></li>
                      <li><a href="#">PrestaShop</a></li>
                      <li><a href="#">WooCommerce</a></li>
                      <li><a href="#">Zen Cart</a></li>
                      <li><a href="#">Jigoshop</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Ghost</a></li>
                  <li><a href="#">Tumblr</a></li>
                </ul>
              </li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>

          <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Shopping Cart (0)</a>
        </div>
      </div> <!-- end .uou-block-2e -->

    </div>



    <h6 class="demo-section-title container">Header 10</h6>


    <div class="box-shadow-for-ui">
      <div class="uou-block-2e">
        <div class="container">
          <nav class="nav">
            <ul class="sf-menu">
              <li class="active"><a href="#">Home</a></li>
              <li>
                <a href="#">Store</a>
                <ul>
                  <li><a href="#">WordPress</a></li>
                  <li><a href="#">HTML</a></li>
                  <li>
                    <a href="#">eCommerce</a>
                    <ul>
                      <li><a href="#">Magento</a></li>
                      <li><a href="#">OpenCart</a></li>
                      <li><a href="#">Shopify</a></li>
                      <li><a href="#">PrestaShop</a></li>
                      <li><a href="#">WooCommerce</a></li>
                      <li><a href="#">Zen Cart</a></li>
                      <li><a href="#">Jigoshop</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Ghost</a></li>
                  <li><a href="#">Tumblr</a></li>
                </ul>
              </li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>

          <form class="search-form" action="#">
            <input type="text" class="search-input" placeholder="Search ...">
            <input type="submit" value="">
          </form>
        </div>
      </div> <!-- end .uou-block-2e -->
    </div>


  </section>



  <section class="demo-section">
    <h6 class="demo-section-title container">Header 11</h6>


    <div class="uou-block-2f">
      <div class="container">
        <nav class="nav">
          <ul class="sf-menu">
            <li class="active"><a href="#">Home</a></li>
            <li>
              <a href="#">Store</a>
              <ul>
                <li><a href="#">WordPress</a></li>
                <li><a href="#">HTML</a></li>
                <li>
                  <a href="#">eCommerce</a>
                  <ul>
                    <li><a href="#">Magento</a></li>
                    <li><a href="#">OpenCart</a></li>
                    <li><a href="#">Shopify</a></li>
                    <li><a href="#">PrestaShop</a></li>
                    <li><a href="#">WooCommerce</a></li>
                    <li><a href="#">Zen Cart</a></li>
                    <li><a href="#">Jigoshop</a></li>
                  </ul>
                </li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Ghost</a></li>
                <li><a href="#">Tumblr</a></li>
              </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div> <!-- end .uou-block-2f -->

    <h6 class="demo-section-title container">Header 12</h6>


    <div class="uou-block-2f border-right">
      <div class="container">
        <nav class="nav">
          <ul class="sf-menu">
            <li class="active"><a href="#">Home</a></li>
            <li>
              <a href="#">Store</a>
              <ul>
                <li><a href="#">WordPress</a></li>
                <li><a href="#">HTML</a></li>
                <li>
                  <a href="#">eCommerce</a>
                  <ul>
                    <li><a href="#">Magento</a></li>
                    <li><a href="#">OpenCart</a></li>
                    <li><a href="#">Shopify</a></li>
                    <li><a href="#">PrestaShop</a></li>
                    <li><a href="#">WooCommerce</a></li>
                    <li><a href="#">Zen Cart</a></li>
                    <li><a href="#">Jigoshop</a></li>
                  </ul>
                </li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Ghost</a></li>
                <li><a href="#">Tumblr</a></li>
              </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div> <!-- end .uou-block-2f -->

    <h6 class="demo-section-title container">Header 13</h6>


    <div class="uou-block-2f hover-bg">
      <div class="container">
        <nav class="nav">
          <ul class="sf-menu">
            <li class="active"><a href="#">Home</a></li>
            <li>
              <a href="#">Store</a>
              <ul>
                <li><a href="#">WordPress</a></li>
                <li><a href="#">HTML</a></li>
                <li>
                  <a href="#">eCommerce</a>
                  <ul>
                    <li><a href="#">Magento</a></li>
                    <li><a href="#">OpenCart</a></li>
                    <li><a href="#">Shopify</a></li>
                    <li><a href="#">PrestaShop</a></li>
                    <li><a href="#">WooCommerce</a></li>
                    <li><a href="#">Zen Cart</a></li>
                    <li><a href="#">Jigoshop</a></li>
                  </ul>
                </li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Ghost</a></li>
                <li><a href="#">Tumblr</a></li>
              </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div> <!-- end .uou-block-2f -->

    <h6 class="demo-section-title container">Header 14</h6>


    <div class="uou-block-2f">
      <div class="container">
        <nav class="nav">
          <ul class="sf-menu">
            <li class="active"><a href="#">Home</a></li>
            <li>
              <a href="#">Store</a>
              <ul>
                <li><a href="#">WordPress</a></li>
                <li><a href="#">HTML</a></li>
                <li>
                  <a href="#">eCommerce</a>
                  <ul>
                    <li><a href="#">Magento</a></li>
                    <li><a href="#">OpenCart</a></li>
                    <li><a href="#">Shopify</a></li>
                    <li><a href="#">PrestaShop</a></li>
                    <li><a href="#">WooCommerce</a></li>
                    <li><a href="#">Zen Cart</a></li>
                    <li><a href="#">Jigoshop</a></li>
                  </ul>
                </li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Ghost</a></li>
                <li><a href="#">Tumblr</a></li>
              </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>

        <div class="contact">
          <span>Call Us:</span>
          <a href="tel:(02)1234567890">(02) 123-456-7890</a>
        </div>
      </div>
    </div> <!-- end .uou-block-2f -->

    <h6 class="demo-section-title container">Header 15</h6>


    <div class="uou-block-2f">
      <div class="container">
        <nav class="nav">
          <ul class="sf-menu">
            <li class="active"><a href="#">Home</a></li>
            <li>
              <a href="#">Store</a>
              <ul>
                <li><a href="#">WordPress</a></li>
                <li><a href="#">HTML</a></li>
                <li>
                  <a href="#">eCommerce</a>
                  <ul>
                    <li><a href="#">Magento</a></li>
                    <li><a href="#">OpenCart</a></li>
                    <li><a href="#">Shopify</a></li>
                    <li><a href="#">PrestaShop</a></li>
                    <li><a href="#">WooCommerce</a></li>
                    <li><a href="#">Zen Cart</a></li>
                    <li><a href="#">Jigoshop</a></li>
                  </ul>
                </li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Ghost</a></li>
                <li><a href="#">Tumblr</a></li>
              </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>

        <a href="#" class="cart"><i class="fa fa-shopping-cart"></i> Shopping Cart (0)</a>
      </div>
    </div> <!-- end .uou-block-2f -->

    <h6 class="demo-section-title container">Header 16</h6>


    <div class="uou-block-2f">
      <div class="container">
        <nav class="nav">
          <ul class="sf-menu">
            <li class="active"><a href="#">Home</a></li>
            <li>
              <a href="#">Store</a>
              <ul>
                <li><a href="#">WordPress</a></li>
                <li><a href="#">HTML</a></li>
                <li>
                  <a href="#">eCommerce</a>
                  <ul>
                    <li><a href="#">Magento</a></li>
                    <li><a href="#">OpenCart</a></li>
                    <li><a href="#">Shopify</a></li>
                    <li><a href="#">PrestaShop</a></li>
                    <li><a href="#">WooCommerce</a></li>
                    <li><a href="#">Zen Cart</a></li>
                    <li><a href="#">Jigoshop</a></li>
                  </ul>
                </li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Ghost</a></li>
                <li><a href="#">Tumblr</a></li>
              </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>

        <form class="search-form" action="#">
          <input type="text" class="search-input" placeholder="Search ...">
          <input type="submit" value="">
        </form>
      </div>
    </div> <!-- end .uou-block-2f -->
  </section>


</div> <!-- end #main-wrapper -->


<div class="uou-block-11a">
  <h5 class="title">Menu</h5>
  <a href="#" class="mobile-sidebar-close">&times;</a>
  <nav class="main-nav">
      <ul>
        <li class="active"><a href="#">Home</a></li>

          <li class="pl10"><a href="demo-creative-agency/index.html">Home 1 - Creative Agency</a></li>
          <li class="pl10"><a href="demo-corporate/index.html">Home 2 - Corporate</a></li>
          <li class="pl10"><a href="demo-copywriter">Home 2 - Copywriter</a></li>

        <li class="active"><a href="#">Components</a></li>
          <li class="pl10"><a href="toolbar.html">Toolbars</a></li>
          <li class="pl10 active"><a href="header.html">Headers</a></li>
          <li class="pl10"><a href="footer.html">Footers</a></li>
          <li class="pl10"><a href="breadcrumbs.html">Breadcrumbs</a></li>

        <li class="active"><a href="slider.html">Sliders</a></li>
        <li class="active"><a href="#">Blog</a></li>
          <li class="pl10"><a href="blog-list.html">Blog list with sidebar</a></li>
          <li class="pl10"><a href="blog-grid.html">Blog Grid with sidebar</a></li>
          <li class="pl10"><a href="blog-list-no-sidebar.html">Blog list no sidebar</a></li>
          <li class="pl10"><a href="blog-grid-no-sidebar.html">Blog Grid no sidebar</a></li>
          <li class="pl10"><a href="blog-post.html">Blog Post</a></li>

        <li class="active"><a href="portfolio-full-width.html">Portfolio</a></li>
        <li class="active"><a href="gui-kit.html">Gui Kit</a></li>



      </ul>
  </nav>

  <hr>

</div>

<!-- Scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-2.1.3.min.js"><\/script>')</script>
<script src="js/plugins/hoverIntent.js"></script>
<script src="js/plugins/superfish.min.js"></script>
<script src="js/scripts.min.js"></script>

</body>
</html>
