<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Creative Agency</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700%7CDroid+Serif:300,400,700,400italic%7CMontserrat:400,700%7CNothing+You+Could+Do%7CLibre+Baskerville:400,400italic">

  <link rel="stylesheet" href="masterslider/style/masterslider.css" />

  <!-- MasterSlider default skin -->
  <link rel="stylesheet" href="masterslider/skins/default/style.css" />

    <link rel="stylesheet" href="css/swipebox.min.css">

  <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div id="main-wrapper">
  <div class="toolbar">
    <div class="uou-block-1a blog">
      <div class="container">
        <div class="search">
          <a href="#" class="toggle fa fa-search"></a>

          <form action="#">
            <input type="text" class="search-input" placeholder="Search ...">
            <input type="submit" value="">
          </form>
        </div>

        <ul class="social">
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-google-plus"></a></li>
        </ul>

        <ul class="authentication">
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
        </ul>

        <div class="language">
          <a href="#" class="toggle"><img src="../img/flags/32/NL.png" alt=""> NDL</a>

          <ul>
            <li><a href="#"><img src="../img/flags/32/PT.png" alt=""> PT</a></li>
            <li><a href="#"><img src="../img/flags/32/FR.png" alt=""> FR</a></li>
            <li><a href="#"><img src="../img/flags/32/ES.png" alt=""> ES</a></li>
          </ul>
        </div>
      </div>
    </div> <!-- end .uou-block-1a -->
  </div> <!-- end toolbar -->


  <div class="header-nav">
      <div class="box-shadow-for-ui">

        <div class="uou-block-2b icons">
          <div class="container">
            <a href="#" class="logo"><img src="../img/logo.png" alt=""></a>
            <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>

            <nav class="nav">
              <ul class="sf-menu">
                <li class="active"><a href="#"><i class="fa fa-home"></i> Home</a>
                  <ul class="demo-menu">
                    <li class="active"><a href="demo-creative-agency/index.html">Home 1 - Creative Agency</a></li>
                    <li><a href="../demo-corporate/index.html">Home 2 - Corporate</a></li>
                    <li><a href="../demo-copywriter">Home 2 - Copywriter</a></li>

                  </ul>
                </li>
                <li>
                  <a href="#"><i class="fa fa-suitcase"></i> Components</a>
                  <ul>
                    <li><a href="../toolbar.html">Toolbars</a></li>
                    <li><a href="../header.html">Headers</a></li>
                    <li><a href="../footer.html">Footers</a></li>
                    <li><a href="../breadcrumbs.html">Breadcrumbs</a></li>

                  </ul>
                <li><a href="../slider.html"><i class="fa fa-play-circle-o"></i>  Sliders</a></li>
                <li><a href="#"><i class="fa fa-pencil-square-o"></i>  Blog</a>
                  <ul class="demo-menu">
                    <li><a href="../blog-list.html">Blog list with sidebar</a></li>
                    <li><a href="../blog-grid.html">Blog Grid with sidebar</a></li>
                    <li><a href="../blog-list-no-sidebar.html">Blog list no sidebar</a></li>
                    <li><a href="../blog-grid-no-sidebar.html">Blog Grid no sidebar</a></li>
                    <li><a href="../blog-post.html">Blog Post</a></li>


                  </ul>
                </li>
                <li><a href="../portfolio-full-width.html"><i class="fa fa-eye"></i> Portfolio</a></li>
                <li><a href="../gui-kit.html"><i class="fa fa-cogs"></i> Gui Kit</a></li>
              </ul>
            </nav>
          </div>
        </div> <!-- end .uou-block-2b -->

      </div>
  </div> <!-- edn header-navm -->

  <div class="sb-slider-section default">

    <!-- masterslider -->
    <div class="master-slider ms-skin-default  app-master-slider-secondary" id="masterslider">
        <!-- new slide -->
        <div class="ms-slide">

          <!-- slide background -->
          <img src="masterslider/blank.gif" data-src="../img/slider-img/slider-bg-11.jpg" alt=""/>


            <div class="ms-layer ms-caption" data-origin="ml" >
              <div class="container">
                <h1 class="very-large-heading">
                  <strong>Simple</strong>
                  <strong>Builder</strong>
                  <strong>PSD</strong>
                </h1>


                <p class="text-uppercase italic-text-large">Ultimate PSD KIT to build <b>your new website</b></p>


                <a class="btn btn-transparent mr10" href="#">Continue</a>


              </div>


            </div>
        </div>
        <!-- end of slide -->


        <!-- new slide -->
        <div class="ms-slide">

          <!-- slide background -->
          <img src="masterslider/blank.gif" data-src="../img/slider-img/slider-bg-11.jpg" alt=""/>


            <div class="ms-layer ms-caption" data-origin="ml" >
              <div class="container">
                <h1 class="very-large-heading">
                  <strong>Simple</strong>
                  <strong>Builder</strong>
                  <strong>PSD</strong>
                </h1>


                <p class="text-uppercase italic-text-large">Ultimate PSD KIT to build <b>your new website</b></p>


                <a class="btn btn-transparent mr10" href="#">Continue</a>


              </div>


            </div>
        </div>
        <!-- end of slide -->



        <!-- new slide -->
        <div class="ms-slide">

          <!-- slide background -->
          <img src="masterslider/blank.gif" data-src="../img/slider-img/slider-bg-11.jpg" alt=""/>


            <div class="ms-layer ms-caption" data-origin="ml" >
              <div class="container">
                <h1 class="very-large-heading">
                  <strong>Simple</strong>
                  <strong>Builder</strong>
                  <strong>PSD</strong>
                </h1>


                <p class="text-uppercase italic-text-large">Ultimate PSD KIT to build <b>your new website</b></p>


                <a class="btn btn-transparent mr10" href="#">Continue</a>


              </div>


            </div>
        </div>
        <!-- end of slide -->






    </div>
    <!-- end of masterslider -->

  </div> <!-- end sb-slider-secton -->



  <div class="uou-cta secondary">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <p>Call to Action Now! Sell your product easier! </p>

        </div>
        <div class="col-sm-5 text-right">
          <a class="btn btn-transparent" href="#">Read More</a>
          <a class="btn btn-primary" href="#">Buy Now</a>
        </div>

      </div> <!-- end row -->
    </div>

  </div>  <!-- end uou-cta  -->

  <div class="uou-demo-block">
    <h1 class="block-title">HeY!</h1>
    <p class="block-secondary-title">
      We are Simple Builder, your new business partner
    </p>


    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="uou-block-8d">
            <i class="fa fa-code"></i>

            <h5>Web Development</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quas numquam repudiandae.</p>


          </div> <!-- end .uou-block-8d -->
        </div>

        <div class="col-sm-3">
          <div class="uou-block-8d active">
            <i class="fa fa-android"></i>

            <h5>Mobile</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quas numquam repudiandae.</p>


          </div> <!-- end .uou-block-8d -->
        </div>

        <div class="col-sm-3">
          <div class="uou-block-8d">
            <i class="fa fa-comment"></i>

            <h5>Brand</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quas numquam repudiandae.</p>


          </div> <!-- end .uou-block-8d -->
        </div>

        <div class="col-sm-3">
          <div class="uou-block-8d">
            <i class="fa fa-paper-plane-o"></i>

            <h5>Advertising</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quas numquam repudiandae.</p>


          </div> <!-- end .uou-block-8d -->
        </div>
      </div>
    </div>
  </div> <!--   end uou-demo-block -->



  <div class="uou-demo-block tertiary">

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="uou-block-6b secondary">
            <img src="../img/member-1.png" alt="">
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>

            <div class="content">
              <h6>Jessica Walsh <span>Founder &amp; Web Designer</span></h6>
              <p>Veniam minus obcaecati, quos facere et quibusdam debitis iure voluptate libero voluptas dolorem praesentium rerum adipisci ad fuga.</p>
            </div>
          </div> <!-- end .uou-block-6b -->
        </div>

        <div class="col-sm-6">
          <div class="uou-block-6b secondary">
            <img src="../img/member-2.png" alt="">
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>

            <div class="content">
              <h6>Jessica Walsh <span>Founder &amp; Web Designer</span></h6>
              <p>Veniam minus obcaecati, quos facere et quibusdam debitis iure voluptate libero voluptas dolorem praesentium rerum adipisci ad fuga.</p>
            </div>
          </div> <!-- end .uou-block-6b -->
        </div>
      </div>
    </div>

  </div> <!--   end uou-demo-block -->


  <div class="uou-demo-block">

    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="uou-toggle-content">
            <div class="content-main">

              <h6><a class="toggle-btn active" href="#"></a>
              Web Development</h6>
              <div class="content-hidden active">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              </div>
            </div>

            <div class="content-main">

              <h6><a class="toggle-btn" href="#"></a>
              Web Development</h6>
              <div class="content-hidden">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              </div>
            </div>


            <div class="content-main">

              <h6><a class="toggle-btn" href="#"></a>
              Web Development</h6>
              <div class="content-hidden">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-7">

          <div class="uou-progressbar-single">
            <h6>Html &amp; Css</h6>
            <span class="main-bar">
              <span class="inner-bar one"></span>
              <b class="progress-percent">87%</b>
            </span>
          </div>

          <div class="uou-progressbar-single">
            <h6>Html &amp; Css</h6>
            <span class="main-bar">
              <span class="inner-bar one gradient-one"></span>
              <b class="progress-percent">87%</b>
            </span>
          </div>

          <div class="uou-progressbar-single">
            <h6>Web Design</h6>
            <span class="main-bar">
              <span class="inner-bar two gradient-two"></span>
              <b class="progress-percent">96%</b>
            </span>
          </div>

          <div class="uou-progressbar-single">
            <h6>Wordpress Development</h6>
            <span class="main-bar">
              <span class="inner-bar three gradient-three"></span>
              <b class="progress-percent">78%</b>
            </span>
          </div>
        </div>

      </div>

    </div> <!-- endcontainer -->


  </div>  <!--  end uou-demo-block -->





  <div class="uou-block-5a uou-twitter-content has-bg-image" data-bg-image="../img/banner.jpg" data-bg-color="000" data-bg-opacity=".20">
    <div class="container">
      <blockquote>
        <div class="flexslider default-slider">
          <ul class="slides">
            <li class="">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">bit.ly/link</a>

              <div class="twitt-details">
                <p>
                  <span>2 week ago</span>
                  <a href="#">Reply</a>
                  <a href="#">Retweet</a>
                  <a href="#">Favorite</a>
                </p>
              </div>
            </li>

            <li class="">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">bit.ly/link</a>

              <div class="twitt-details">
                <p>
                  <span>4 week ago</span>
                  <a href="#">Reply</a>
                  <a href="#">Retweet</a>
                  <a href="#">Favorite</a>
                </p>
              </div>
            </li>

            <li class="">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">bit.ly/link</a>

              <div class="twitt-details">
                <p>
                  <span>3 week ago</span>
                  <a href="#">Reply</a>
                  <a href="#">Retweet</a>
                  <a href="#">Favorite</a>
                </p>
              </div>
            </li>

          </ul>
        </div>
      </blockquote>
    </div>
  </div> <!-- end .uou-block-5a -->



  <div class="uou-demo-block has-bg-image" data-bg-image="../img/demo-bg.png">

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-push-4 text-center">
          <img src="../img/mobile-img.png" class="mobile-pic" alt="">
        </div>
        <div class="col-md-4 col-md-pull-4 text-right">
          <ul class="list-icon-large inverse">
            <li>
              <i class="fa fa-paint-brush"></i>
              <h6>Technology</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </li>

            <li>
              <i class="fa fa-paper-plane-o"></i>
              <h6>Social Networks</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </li>

            <li>
              <i class="fa fa-pencil"></i>
              <h6>Design</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-icon-large left">
            <li>
              <i class="fa fa-mobile"></i>
              <h6>Technology</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </li>

            <li class="active">
              <i class="fa fa-paper-plane-o"></i>
              <h6>Social Networks</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </li>

            <li>
              <i class="fa fa-globe"></i>
              <h6>Design</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </li>
          </ul>
        </div>

      </div>

    </div> <!-- endcontainer -->


  </div>  <!--  end uou-demo-block -->



  <div class="uou-demo-block zero-pb">

    <h1 class="block-title">Work</h1>
    <p class="block-secondary-title">
      Check out some of our work    </p>


    <div class="uou-portfolio full-width">

      <section id="portfolio" class="portfolio">
        <div class="">



          <div class="clearfix"></div>
          <div class="portfolio-filters-content">
            <article class="development design">
              <a href="img/portfolio-1.jpg" class="swipebox">
                <img src="../img/portfolio-1.jpg" alt="" class="work img-responsive">

                <span class="overlay">
                  <i class="fa fa-plus"></i>
                  <b class="title"><strong>Photo Session</strong>Brands</b>
                </span>
              </a>
            </article>
            <article class="design">
              <a href="img/portfolio-2.jpg" class="swipebox">
                <img src="../img/portfolio-2.jpg" alt="" class="work img-responsive">

                <span class="overlay">
                  <i class="fa fa-plus"></i>
                  <b class="title"><strong>Photo Session</strong>Brands</b>
                </span>
              </a>
            </article>
            <article class="development branding">
              <a href="img/portfolio-3.jpg" class="swipebox">
                <img src="../img/portfolio-3.jpg" alt="" class="work img-responsive">

                <span class="overlay">
                  <i class="fa fa-plus"></i>
                  <b class="title"><strong>Photo Session</strong>Brands</b>
                </span>
              </a>
            </article>

          </div>
        </div>
      </section>

    </div> <!-- end uou-portfolio -->


  </div>  <!--  end uou-demo-block -->




  <div class="uou-demo-block">
    <div class="uou-block-5b">
      <div class="container">
        <blockquote class="first active">
          <p>There are design companies, and then there are user experience, design, consulting, interface design, brilliant, and professional. UOU Apps, is by far one of the worlds best known brands.</p>

          <footer><cite><a href="#">Tracy Chapman</a></cite></footer>
        </blockquote>

        <blockquote class="second">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est accusamus perferendis nulla! Quidem iure voluptates tempore ad veniam doloribus error sequi, facilis recusandae ipsam a inventore labore est quas?</p>

          <footer><cite><a href="#">John Kevin Mara</a></cite></footer>
        </blockquote>

        <blockquote class="third">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum voluptatum veritatis beatae ea sapiente minima quibusdam asperiores sunt sint commodi, veniam impedit aut possimus enim atque! Omnis aspernatur consequatur, sint quis facere. Voluptate error quas, consequatur amet dolores atque accusantium tempora pariatur, ut vitae, vel officia molestiae odio tenetur veniam.</p>

          <footer><cite><a href="#">Jason Santa Maria</a></cite></footer>
        </blockquote>

        <ul class="tabs">
          <li data-target="first" class="active">
            <img src="../img/avatar.png" alt="">
            <h6>Tracy Chapman</h6>
            <a href="#">webdesign.tutsplus.com</a>
          </li>

          <li data-target="second">
            <img src="../img/avatar.png" alt="">
            <h6>John Kevin Mara</h6>
            <a href="#">smashingmagazine.com</a>
          </li>

          <li data-target="third">
            <img src="../img/avatar.png" alt="">
            <h6>Jason Santa Maria</h6>
            <a href="#">alistapart.com</a>
          </li>
        </ul>
      </div>
    </div> <!-- end .uou-block-5b -->


  </div>  <!--  end uou-demo-block -->



  <div class="uou-demo-block has-bg-image" data-bg-image="../img/contact-bg.jpg" data-bg-color="000" data-bg-opacity=".20">

    <h1 class="block-title">Contact</h1>
    <p class="block-secondary-title invert">
      Get in touch with us   </p>

      <div class="container">
        <div class="demo-contact-form">

            <input type="text" placeholder="NAME &amp; SURNAME">

            <input type="email" placeholder="E-MAIL ADDRESS">

            <input type="text" placeholder="PHONE NUMBER">

            <textarea name="name" placeholder="YOUR MESSAGE"></textarea>

            <div class="pb30">
              <button class="btn btn-primary">SEND MESSAGE</button>
            </div>




        </div>
      </div>


  </div>  <!--  end uou-demo-block -->




  <div class="uou-map-section">
    <div class="uou-block-12a">
      <div class="map-container">
        <div class="map" data-height="300" data-center-lat="37.7749295" data-center-lng="-122.41941550000001"></div>
      </div>
    </div> <!-- end .uou-block-12a -->
  </div>















  <div class="uou-block-4c">
    <div class="container">
      <ul class="links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Shortcodes</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>

      <hr>

      <ul class="contact-info">
        <li>
          <i class="fa fa-map-marker"></i>
          <address>795 Folsom Ave, Suite 600, San Francisco, CA 94107</address>
        </li>

        <li>
          <i class="fa fa-phone"></i>
          <a href="tel:#">(123) 456-7890</a>
        </li>

        <li>
          <i class="fa fa-envelope"></i>
          <a href="mailto:#">first.last@example.com</a>
        </li>
      </ul>
    </div>
  </div> <!-- end .uou-block-4c -->


  <div class="uou-block-4b secondary">
    <div class="container">
      <p>Copyright &copy; 2015 <a href="#">Simple Builder</a>. All Rights reserved.</p>

      <p class="secondary">Made with <i class="fa fa-heart"></i> by <a href="#">UOU Apps</a>.</p>

      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
      </ul>
    </div>
  </div> <!-- end .uou-block-4b -->









</div> <!-- end #main-wrapper -->


<div class="uou-block-11a">
  <h5 class="title">Menu</h5>
  <a href="#" class="mobile-sidebar-close">&times;</a>
  <nav class="main-nav">
      <ul>
        <li class="active"><a href="#">Home</a></li>

          <li class="pl10 active"><a href="demo-creative-agency/index.html">Home 1 - Creative Agency</a></li>
          <li class="pl10"><a href="demo-corporate/index.html">Home 2 - Corporate</a></li>
          <li class="pl10"><a href="demo-copywriter">Home 2 - Copywriter</a></li>

        <li class="active"><a href="#">Components</a></li>
          <li class="pl10"><a href="toolbar.html">Toolbars</a></li>
          <li class="pl10"><a href="header.html">Headers</a></li>
          <li class="pl10"><a href="footer.html">Footers</a></li>
          <li class="pl10"><a href="breadcrumbs.html">Breadcrumbs</a></li>

        <li class="active"><a href="slider.html">Sliders</a></li>
        <li class="active"><a href="#">Blog</a></li>
          <li class="pl10 active"><a href="blog-list.html">Blog list with sidebar</a></li>
          <li class="pl10"><a href="blog-grid.html">Blog Grid with sidebar</a></li>
          <li class="pl10"><a href="blog-list-no-sidebar.html">Blog list no sidebar</a></li>
          <li class="pl10"><a href="blog-grid-no-sidebar.html">Blog Grid no sidebar</a></li>
          <li class="pl10"><a href="blog-post.html">Blog Post</a></li>

        <li class="active"><a href="portfolio-full-width.html">Portfolio</a></li>
        <li class="active"><a href="gui-kit.html">Gui Kit</a></li>



      </ul>
  </nav>

  <hr>

</div>

<!-- Scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-2.1.3.min.js"><\/script>')</script>
<!-- <script src="js/plugins/hoverIntent.js"></script> -->
<script src="js/plugins/superfish.min.js"></script>

<script src="js/plugins/jquery.flexslider-min.js"></script>

<script src="masterslider/masterslider.min.js"></script>
<script src="js/master-slider-custom.js"></script>

<script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>

<script src="js/isotope.pkgd.min.js"></script>
<script src="js/jquery.swipebox.min.js"></script>
<script src="js/isotope-custom.js"></script>
<script src="js/scripts.min.js"></script>



<script type="text/javascript">


  $('.content-main h6 a').on('click', function(e){
    e.preventDefault();
    $(this).toggleClass('active');
    $(this).parent().next(".content-hidden").toggleClass('active');
  });
</script>

</body>
</html>
