<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Corporate</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700%7CDroid+Serif:300,400,700,400italic%7CMontserrat:400,700%7CNothing+You+Could+Do%7CLibre+Baskerville:400,400italic">


  <link rel="stylesheet" href="masterslider/style/masterslider.css" />

  <!-- MasterSlider default skin -->
  <link rel="stylesheet" href="masterslider/skins/default/style.css" />


  <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div id="main-wrapper">
  <div class="toolbar">
    <div class="box-shadow-for-ui">
      <div class="uou-block-2a">
        <div class="container">
          <a href="#" class="logo"><img src="../img/logo1.png" alt=""></a>
          <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>

          <div class="contact">
            <span>Call Us:</span>
            <a href="tel:(02)1234567890">(02) 123-456-7890</a>
          </div>
        </div>
      </div> <!-- end .uou-block-2a -->
    </div>
  </div> <!-- end toolbar -->


  <div class="header-nav">
    <div class="uou-block-2e">
      <div class="container">
        <nav class="nav">
          <ul class="sf-menu">
            <li class="active"><a href="#">Home</a>
              <ul class="demo-menu">
                <li><a href="../demo-creative-agency/index.html">Home 1 - Creative Agency</a></li>
                <li class="active"><a href="demo-corporate/index.html">Home 2 - Corporate</a></li>
                <li><a href="../demo-copywriter">Home 2 - Copywriter</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Components</a>
              <ul>
                <li><a href="../toolbar.html">Toolbars</a></li>
                <li><a href="../header.html">Headers</a></li>
                <li><a href="../footer.html">Footers</a></li>
                <li><a href="../breadcrumbs.html">Breadcrumbs</a></li>

              </ul>
            <li><a href="../slider.html">Sliders</a></li>
            <li><a href="#">Blog</a>
              <ul class="demo-menu">
                <li><a href="../blog-list.html">Blog list with sidebar</a></li>
                <li><a href="../blog-grid.html">Blog Grid with sidebar</a></li>
                <li><a href="../blog-list-no-sidebar.html">Blog list no sidebar</a></li>
                <li><a href="../blog-grid-no-sidebar.html">Blog Grid no sidebar</a></li>
                <li><a href="../blog-post.html">Blog Post</a></li>


              </ul>
            </li>
            <li><a href="../portfolio-full-width.html">Portfolio</a></li>
            <li><a href="../gui-kit.html">Gui Kit</a></li>
          </ul>
        </nav>

        <form class="search-form" action="#">
          <input type="text" class="search-input" placeholder="Search ...">
          <input type="submit" value="">
        </form>
      </div>
    </div> <!-- end .uou-block-2e -->
  </div> <!-- edn header-navm -->

  <div class="sb-slider-section default">

    <!-- masterslider -->
    <div class="master-slider ms-skin-default  small-height-slider with-custom-bullet" id="masterslider">
        <!-- new slide -->
        <div class="ms-slide">

          <!-- slide background -->
          <img src="masterslider/blank.gif" data-src="../img/slider-img/slider-bg-12.jpg" alt=""/>


            <div class="ms-layer ms-caption" data-origin="mc" >
              <div class="container">

                <div class="corporate-slider-text">
                  <img class="cor-logo" src="../img/slider-img/slider-logo6.png" alt="">
                  <p>A Simple Builder Demo</p>

                </div>



              </div>


            </div>
        </div>
        <!-- end of slide -->


         <!-- new slide -->
        <div class="ms-slide">

          <!-- slide background -->
          <img src="masterslider/blank.gif" data-src="../img/slider-img/slider-bg-12.jpg" alt=""/>


            <div class="ms-layer ms-caption" data-origin="mc" >
              <div class="container">

                <div class="corporate-slider-text">
                  <img class="cor-logo" src="../img/slider-img/slider-logo6.png" alt="">
                  <p>A Simple Builder Demo</p>

                </div>
              </div>


            </div>
        </div>
        <!-- end of slide -->

         <!-- new slide -->
        <div class="ms-slide">

          <!-- slide background -->
          <img src="masterslider/blank.gif" data-src="../img/slider-img/slider-bg-12.jpg" alt=""/>


            <div class="ms-layer ms-caption" data-origin="mc" >
              <div class="container">

                <div class="corporate-slider-text">
                  <img class="cor-logo" src="../img/slider-img/slider-logo6.png" alt="">
                  <p>A Simple Builder Demo</p>

                </div>
              </div>


            </div>
        </div>
        <!-- end of slide -->


    </div>
    <!-- end of masterslider -->

  </div> <!-- end sb-slider-secton -->



  <div class="uou-cta tratiary">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <p>Call to Action Now! Sell your product easier! </p>

        </div>
        <div class="col-sm-5 text-right">
          <a class="btn btn-transparent-primary" href="#">Read More</a>
          <a class="btn btn-secondary" href="#">Buy Now</a>
        </div>

      </div> <!-- end row -->
    </div>

  </div>  <!-- end uou-cta  -->

  <div class="uou-demo-block">
    <h2 class="block-title">What We Do</h2>
    <p class="block-secondary-title-m">
      Check our main Activities
    </p>


    <div class="uou-service-square">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="uou-block-service-new">
              <h6><i class="fa fa-bullhorn"></i>B2B</h6>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            </div>
          </div>
          <div class="col-md-3">
            <div class="uou-block-service-new active">
               <h6><i class="fa fa-paper-plane-o"></i>Html &amp; Css</h6>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
             </div>
          </div>
          <div class="col-md-3">
            <div class="uou-block-service-new">
               <h6><i class="fa fa-comments-o"></i>Consulting</h6>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
             </div>
          </div>
          <div class="col-md-3">
            <div class="uou-block-service-new">
               <h6><i class="fa fa-university"></i>Law Support</h6>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
             </div>
          </div>
        </div>
      </div> <!-- end container  -->
    </div> <!-- end service -squeare -->
  </div> <!--   end uou-demo-block -->



  <div class="uou-demo-block tertiary">
    <div class="container">
      <h2 class="block-title left invert">Let the numbers speak</h2>
      <p class="block-secondary-title-m left">
        We don’t want you to think that we just say empty words
      </p>

    </div>


    <div class="clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="round-counter-single">
              <div class="c100 p96 green">
                  <span>96<b>%</b></span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>
              <h6>SATISFACTION</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="round-counter-single">
              <div class="c100 p75 green">
                  <span>75<b>%</b></span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>
              <h6>HAPPY CUSTOMERS</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="round-counter-single">
              <div class="c100 p50 green">
                  <span>50<b>%</b></span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>
              <h6>WOMEN IN OUR TEAM</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="round-counter-single">
              <div class="c100 p100 green">
                  <span>100<b>%</b></span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>
              <h6>PROFESSIONAL</h6>
            </div>
          </div>
          <div class="col-md-4">
            <div class="demo-img-custom">
              <img src="../img/corprat-bg-1.png" alt="">
            </div>

          </div>

        </div>
      </div> <!-- end container -->
    </div> <!-- end clerfix -->

  </div> <!--   end uou-demo-block -->





  <div class="uou-demo-block">

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="uou-block-6a">
            <img src="../img/member-1.png" alt="">
            <h6>Jessica Walsh <span>Founder &amp; Web Designer</span></h6>
            <p>Lorem Ipsum dolor sit amet consectetur. Gravid nib velit auctor aquet sollicitudin lorem quis bibendum auctor</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div> <!-- end .uou-block-6a -->
        </div>

        <div class="col-sm-4">
          <div class="uou-block-6a">
            <img src="../img/member-2.png" alt="">
            <h6>Wade Jeffree <span>Sales Consultant</span></h6>
            <p>Lorem Ipsum dolor sit amet consectetur. Gravid nib velit auctor aquet sollicitudin lorem quis bibendum auctor</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div> <!-- end .uou-block-6a -->
        </div>

        <div class="col-sm-4">
          <div class="uou-block-6a">
            <img src="../img/member-3.png" alt="">
            <h6>Stefan Sagmeister <span>Web Developer</span></h6>
            <p>Lorem Ipsum dolor sit amet consectetur. Gravid nib velit auctor aquet sollicitudin lorem quis bibendum auctor</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div> <!-- end .uou-block-6a -->
        </div>
      </div>
    </div>


  </div>  <!--  end uou-demo-block -->





  <div class="uou-block-5a uou-twitter-content has-bg-image invert" data-bg-image="../img/copywrite-block-img4.png">
    <div class="container">
      <blockquote>
        <div class="flexslider default-slider">
          <ul class="slides">
            <li class="">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">bit.ly/link</a>

              <div class="twitt-details">
                <p>
                  <span>2 week ago</span>
                  <a href="#">Reply</a>
                  <a href="#">Retweet</a>
                  <a href="#">Favorite</a>
                </p>
              </div>
            </li>

            <li class="">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">bit.ly/link</a>

              <div class="twitt-details">
                <p>
                  <span>4 week ago</span>
                  <a href="#">Reply</a>
                  <a href="#">Retweet</a>
                  <a href="#">Favorite</a>
                </p>
              </div>
            </li>

            <li class="">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">bit.ly/link</a>

              <div class="twitt-details">
                <p>
                  <span>3 week ago</span>
                  <a href="#">Reply</a>
                  <a href="#">Retweet</a>
                  <a href="#">Favorite</a>
                </p>
              </div>
            </li>

          </ul>
        </div>
      </blockquote>
    </div>
  </div> <!-- end .uou-block-5a -->



  <div class="uou-demo-block">
    <h2 class="block-title">Our Pricing</h2>
    <p class="block-secondary-title-m">
      Choose your plan
    </p>


    <div class="container">
      <div class="row">

        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="pricing-table">
            <h3>Starter</h3>

            <div class="price">
              <span>$ 9.95</span>
              <b>monthly</b>
            </div>

            <ul class="feature">
              <li> 50 GB Storage</li>
              <li> 2 GB Bandwidth</li>
              <li> 1 Year Upgrades</li>
              <li> Unlimited Users</li>
            </ul>

            <a class="btn btn-transparent-primary" href="#">Purchase Now</a>

          </div> <!-- end .pricing-table -->

        </div> <!-- end grid-layout -->

        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="pricing-table">
            <h3>Medium</h3>

            <div class="price">
              <span>$ 19.95</span>
              <b>monthly</b>
            </div>

            <ul class="feature">
              <li> 50 GB Storage</li>
              <li> 2 GB Bandwidth</li>
              <li> 1 Year Upgrades</li>
              <li> Unlimited Users</li>
            </ul>

            <a class="btn btn-transparent-primary" href="#">Purchase Now</a>

          </div> <!-- end .pricing-table -->

        </div> <!-- end grid-layout -->

        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="pricing-table active">
            <h3>Big</h3>

            <div class="price">
              <span>$ 39.95</span>
              <b>monthly</b>
            </div>

            <ul class="feature">
              <li> 50 GB Storage</li>
              <li> 2 GB Bandwidth</li>
              <li> 1 Year Upgrades</li>
              <li> Unlimited Users</li>
            </ul>

            <a class="btn btn-transparent-primary" href="#">Purchase Now</a>

          </div> <!-- end .pricing-table -->

        </div> <!-- end grid-layout -->

        <div class="col-md-6 col-sm-6 col-lg-3">
          <div class="pricing-table">
            <h3>Ultimate</h3>

            <div class="price">
              <span>$ 95.95</span>
              <b>monthly</b>
            </div>

            <ul class="feature">
              <li> 50 GB Storage</li>
              <li> 2 GB Bandwidth</li>
              <li> 1 Year Upgrades</li>
              <li> Unlimited Users</li>
            </ul>

            <a class="btn btn-transparent-primary" href="#">Purchase Now</a>
          </div> <!-- end .pricing-table -->

        </div> <!-- end grid-layout -->
      </div> <!-- end .row -->
    </div>

  </div> <!--   end uou-demo-block -->


  <div class="uou-demo-block">
    <h2 class="block-title">Testimonials</h2>
    <p class="block-secondary-title-m">
      check what our customers say
    </p>


    <div class="container pb30">
      <div class="row">
        <div class="col-md-4">
          <div class="uou-block-5d secondary">
            <blockquote>
              <div>
                <p>Ipsum voluptatum veritatis beatae ea sapiente minima quibusdam asperiores sunt sint commodi, veniam impedit aut possimus enim atque. Omnis aspernatur consequatur, sint quis facere.</p>
              </div>

              <footer>
                <img src="../img/avatar.png" alt="">
                <cite class="h6">Jason Santa Maria</cite>
                <a href="#">alistapart.com</a>
              </footer>
            </blockquote>
          </div> <!-- end .uou-block-5d -->
        </div>

        <div class="col-md-4">
          <div class="uou-block-5d">
            <blockquote>
              <div>
                <p>Ipsum voluptatum veritatis beatae ea sapiente minima quibusdam asperiores sunt sint commodi, veniam impedit aut possimus enim atque. Omnis aspernatur consequatur, sint quis facere.</p>
              </div>

              <footer>
                <img src="../img/avatar.png" alt="">
                <cite class="h6">John Kevin Mara</cite>
                <a href="#">smashingmagazine.com</a>
              </footer>
            </blockquote>
          </div> <!-- end .uou-block-5d -->
        </div>

        <div class="col-md-4">
          <div class="uou-block-5d secondary">
            <blockquote>
              <div>
                <p>Ipsum voluptatum veritatis beatae ea sapiente minima quibusdam asperiores sunt sint commodi, veniam impedit aut possimus enim atque. Omnis aspernatur consequatur, sint quis facere.</p>
              </div>

              <footer>
                <img src="../img/avatar.png" alt="">
                <cite class="h6">Tracy Chapman</cite>
                <a href="#">webdesign.tutsplus.com</a>
              </footer>
            </blockquote>
          </div> <!-- end .uou-block-5d -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="uou-block-5d">
            <blockquote>
              <div>
                <p>Ipsum voluptatum veritatis beatae ea sapiente minima quibusdam asperiores sunt sint commodi, veniam impedit aut possimus enim atque. Omnis aspernatur consequatur, sint quis facere.</p>
              </div>

              <footer>
                <img src="../img/avatar.png" alt="">
                <cite class="h6">Jason Santa Maria</cite>
                <a href="#">alistapart.com</a>
              </footer>
            </blockquote>
          </div> <!-- end .uou-block-5d -->
        </div>

        <div class="col-md-4">
          <div class="uou-block-5d  secondary">
            <blockquote>
              <div>
                <p>Ipsum voluptatum veritatis beatae ea sapiente minima quibusdam asperiores sunt sint commodi, veniam impedit aut possimus enim atque. Omnis aspernatur consequatur, sint quis facere.</p>
              </div>

              <footer>
                <img src="../img/avatar.png" alt="">
                <cite class="h6">John Kevin Mara</cite>
                <a href="#">smashingmagazine.com</a>
              </footer>
            </blockquote>
          </div> <!-- end .uou-block-5d -->
        </div>

        <div class="col-md-4">
          <div class="uou-block-5d">
            <blockquote>
              <div>
                <p>Ipsum voluptatum veritatis beatae ea sapiente minima quibusdam asperiores sunt sint commodi, veniam impedit aut possimus enim atque. Omnis aspernatur consequatur, sint quis facere.</p>
              </div>

              <footer>
                <img src="../img/avatar.png" alt="">
                <cite class="h6">Tracy Chapman</cite>
                <a href="#">webdesign.tutsplus.com</a>
              </footer>
            </blockquote>
          </div> <!-- end .uou-block-5d -->
        </div>
      </div>
    </div>


  </div> <!--   end uou-demo-block -->


  <div class="pt40 pb40">
    <div class="container">
      <div class="uou-cta default">
        <div class="row">
          <div class="col-sm-7">
            <p>Call to Action Now! Sell your product easier! </p>

          </div>
          <div class="col-sm-5 text-right">
            <a class="btn btn-transparent-primary" href="#">Read More</a>
            <a class="btn btn-secondary" href="#">Read More</a>
          </div>

        </div>
      </div> <!-- end row -->
    </div> <!-- end container -->

  </div> <!--   end uou-demo-block -->



  <div class="uou-demo-block has-bg-image" data-bg-image="../img/corprat-bg-2.png">
    <h2 class="block-title invert">Contact</h2>
    <p class="block-secondary-title-m">
      get in touch with us
    </p>



      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="address">
              <h2>
                Simple Builder<br>
                21 Dedman Ct<br>
                San Francisco<br>
                CA 94124
              </h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="demo-contact-form invert">

              <input type="text" placeholder="NAME &amp; SURNAME">

              <input type="email" placeholder="E-MAIL ADDRESS">

              <input type="text" placeholder="PHONE NUMBER">

              <textarea name="name" placeholder="YOUR MESSAGE"></textarea>

              <div class="pb30">
                <button class="btn btn-primary">SEND MESSAGE</button>
              </div>
            </div>
          </div>
        </div>

      </div>


  </div>  <!--  end uou-demo-block -->




  <div class="uou-map-section">
    <div class="uou-block-12a">
      <div class="map-container">
        <div class="map" data-height="300" data-center-lat="37.7749295" data-center-lng="-122.41941550000001"></div>
      </div>
    </div> <!-- end .uou-block-12a -->
  </div>



  <div class="uou-block-4e secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#" class="logo"><img src="../img/logo.png" alt=""></a>

          <ul class="contact-info has-bg-image contain" data-bg-image="../img/footer-map-bg.png">
            <li>
              <i class="fa fa-map-marker"></i>
              <address>795 Folsom Ave, Suite 600, San Francisco, CA 94107</address>
            </li>

            <li>
              <i class="fa fa-phone"></i>
              <a href="tel:#">(123) 456-7890</a>
            </li>

            <li>
              <i class="fa fa-envelope"></i>
              <a href="mailto:#">first.last@example.com</a>
            </li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-6">
          <h5>Twitter Feed</h5>

          <ul class="twitter-feed">
            <li>
              RT <a href="#">@no1son</a>: Now this <a href="#">http://t.co/TSfMW1qMAW</a> is one hell of a stunning site!!! Awesome work guys <a href="#">@AIRNAUTS</a>
              <a href="#" class="time">May 25</a>
            </li>

            <li>
              Check out the wordpress version of Tucson - <a href="#">http://t.co/sBlU3GbapT</a>
              <a href="#" class="time">May 22</a>
            </li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-6">
          <h5>Photostream</h5>

          <ul class="photos-list">
            <li><img src="../img/photostream4.jpg" alt=""></li>
            <li><img src="../img/photostream6.jpg" alt=""></li>
            <li><img src="../img/photostream3.jpg" alt=""></li>
            <li><img src="../img/photostream2.jpg" alt=""></li>
            <li><img src="../img/photostream1.jpg" alt=""></li>
            <li><img src="../img/photostream.jpg" alt=""></li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-6">
          <h5>Categories</h5>

          <ul class="tags-list">
            <li><a href="#">User Expirience</a></li>
            <li><a href="#">HTML5</a></li>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Social Media</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">CSS3</a></li>
            <li><a href="#">Print Design</a></li>
            <li><a href="#">eCommerce</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- end .uou-block-4e -->


  <div class="uou-block-4a secondary dark">
    <div class="container">
      <ul class="links">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms &amp; Conditions</a></li>
      </ul>

      <p>Copyright &copy; 2015 <a href="#">Simple Builder</a>. All Rights reserved.</p>
    </div>
  </div> <!-- end .uou-block-4a -->

</div> <!-- end #main-wrapper -->


<div class="uou-block-11a">
  <h5 class="title">Menu</h5>
  <a href="#" class="mobile-sidebar-close">&times;</a>
  <nav class="main-nav">
      <ul>
        <li class="active"><a href="#">Home</a></li>

          <li class="pl10"><a href="demo-creative-agency/index.html">Home 1 - Creative Agency</a></li>
          <li class="pl10 active"><a href="demo-corporate/index.html">Home 2 - Corporate</a></li>
          <li class="pl10"><a href="demo-copywriter">Home 2 - Copywriter</a></li>

        <li class="active"><a href="#">Components</a></li>
          <li class="pl10"><a href="toolbar.html">Toolbars</a></li>
          <li class="pl10"><a href="header.html">Headers</a></li>
          <li class="pl10"><a href="footer.html">Footers</a></li>
          <li class="pl10"><a href="breadcrumbs.html">Breadcrumbs</a></li>

        <li class="active"><a href="slider.html">Sliders</a></li>
        <li class="active"><a href="#">Blog</a></li>
          <li class="pl10 active"><a href="blog-list.html">Blog list with sidebar</a></li>
          <li class="pl10"><a href="blog-grid.html">Blog Grid with sidebar</a></li>
          <li class="pl10"><a href="blog-list-no-sidebar.html">Blog list no sidebar</a></li>
          <li class="pl10"><a href="blog-grid-no-sidebar.html">Blog Grid no sidebar</a></li>
          <li class="pl10"><a href="blog-post.html">Blog Post</a></li>

        <li class="active"><a href="portfolio-full-width.html">Portfolio</a></li>
        <li class="active"><a href="gui-kit.html">Gui Kit</a></li>



      </ul>
  </nav>

  <hr>

</div>

<!-- end .uou-block-11a -->

<!-- Scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-2.1.3.min.js"><\/script>')</script>
<!-- <script src="js/plugins/hoverIntent.js"></script> -->
<script src="js/plugins/superfish.min.js"></script>
<script src="masterslider/masterslider.min.js"></script>
<script src="js/master-slider-custom.js"></script>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="js/plugins/jquery.flexslider-min.js"></script>

<script src="js/scripts.min.js"></script>



<script type="text/javascript">


  // uou-toggle-content


  $('.content-main h6 a').on('click', function(e){
    e.preventDefault();
    $(this).toggleClass('active');
    $(this).parent().next(".content-hidden").toggleClass('active');
  });
</script>

</body>
</html>
